@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'Navbar';
@import 'Sidebar';
@import 'Main';
@import 'Statics';
@import 'Login';
@import'MediaQuery';
@import "~antd/dist/reset.css";
*{
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #0F1C2E;
  color: #fff;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px; 
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #4a4a4a; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* color of the scrollbar */
  border-radius: 0px; /* roundness of the scrollbar */
}

.delete-btn{
  background-color: #aa0000 !important;
  color: #fff !important;
}